body {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11pt;
	background: #0c4e82;
}

.header {
	width: 100%;
}

#studycall_logo {
	display: block;
	float: left;
}

h1 {
	color: #fff;
	display: block;
	float: left;
	margin-left: 30px;
}

h2 {
	margin-top: 0;
	color: #fff;
}

div {
	display: block;
	float: left;
}

#android_push,
#ios_push,
.progress {
	background: rgba(0,0,0,0.33);
	display: block;
	padding: 15px;
	margin: 15px 0;
	margin-right: 15px;
	width: 199px;
	border-radius: 10px;
	color: #fff;
}

#ios_push {
}

#android_push {
}

.credits {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 1;
	padding: 5px 0;
}

.credits img {
	margin: 0 15px;
}

input {
	padding: 15px;
}

.progress {
}

.progress div{
	margin: 15px;
	padding: 0;
	width: 470px;
	height: 155px;
	overflow: auto;
}


@media (min-width: 1051px) {
	.progress {
		width: 500px;
		height: 185px;
	}
	
	.progress div{
		width: 470px;
		height: 155px;
	}
}

@media (max-width: 1050px) {
	.progress {
		width: 800px;
		height: 200px;
	}
	
	.progress div{
		width: 770px;
		height: 170px;
	}
}